/* ESTILO 1 : Resetar estilos originais da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* altera o modelo de caixa padrão, fazendo com que a largura e a altura especificadas 
    para um elemento incluam o conteúdo, o padding e a borda*/
}

/* ESTILO 2 : Estilização do header */
header {
    padding: 16px 0;
    margin-left: 16px;
    color: #ecf0f1;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
    /* Remove o underline dos links */
}

/* ESTILO 3 : Estilização da classe container */
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

/* ESTILO 4 : Sobrescreve o CSS do container dentro deo header */
header .container,
section .container {
    display: flex;
    /* Os itens do cabeçalho ficam lado a lado */
    align-items: center;
    justify-content: space-between;
}

/* ESTILO 5 : Altura das logos */
.brands-list img {
    height: 24px;
}

/* ESTILO 6 : */
section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section {
    color: #182c61;
}

section p {
    margin-bottom: 8px;
}

/* ESTILO 7 : */
.store-front {
    margin-right: 32px;
}